// Import the components
@import "./styles/components/Navigation";
@import "./styles/components/Footer";
// Style constants
@import "./styles/constants/Colors";
@import "./styles/constants/Text";
@import "./styles/constants/Btns";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}
// THE ULTIMATE LUXURY
.header {
  background-color: $ultimate-luxury;
  width: 100%;
  height: 16.563rem;

  &__text {
    padding-top: 4rem;
    margin-left: 1.3rem;
    &__small {
      @include small-letters;
      width: 15rem;
    }
    &__big {
      @include big-letters;
      margin-top: 1rem;
    }
  }
  &__btn {
    width: 156px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    right: 1rem;
    bottom: 20.7rem;
    &__home {
      @include btn-home;
      margin-right: 0.8rem;
    }
    &__about {
      @include btn-home;
      color: $light-ochre-color;
      margin-left: 0.8rem;
    }
  }
}

//Video
.video {
  &__intro {
    display: grid;
    justify-items: center;
    margin: auto;
    margin-top: 2rem;
    width: 90%;
    height: 16.875rem;
  }
  &__text {
    @include namimg-text;
    @include center-allign;
    line-height: 39.55px;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 32px;
    text-align: center;
  }
}

//Boxes
.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .box__first__row,
  .box__second__row {
    display: flex;
    gap: 1rem;

    .box__1,
    .box__2,
    .box__3,
    .box__4 {
      width: 157px;
      height: 158px;
      display: grid;
      place-items: center;
      text-align: center;
    }

    .box__1,
    .box__3,
    .box__4 {
      width: 9.813rem;
      height: 9.813rem;

      img {
        display: block;
        margin: 0 auto;
      }

      h1 {
        margin-top: 0.5rem;
        @include subtitle-txt;
      }
    }

    .box__2 {
      width: 9.813rem;
      height: 9.813rem;
      background-color: $light-ochre-color;

      img {
        display: block;
        margin: 0 auto;
      }

      h1 {
        margin-top: 0.5rem;
        @include subtitle-txt;
        width: 5rem;
      }
    }
  }
}
