@import "./Sliders/Page-2/second-slider.css";
@import "./Sliders/Page-2/fourth-slider.css";
.nav {
  width: 100%;
  height: 4.375rem;
  padding-top: 1.2rem;
  padding-left: 1.3rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}
.nav__menu {
  display: inline-block;
}
.nav__menu__img {
  width: 1.25rem;
  height: 0.813rem;
  cursor: pointer;
}
.nav__menu__content {
  position: absolute;
  list-style-type: none;
  margin-top: 1.3rem;
  width: 100%;
  height: 13rem;
  background-color: white;
  margin-left: -1.3rem;
  display: none;
}
.nav__menu__content li {
  padding-top: 0.9em;
  padding-bottom: 0.5em;
  margin-left: 1.3rem;
}
.nav__menu__content li a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Archivo;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.41px;
  width: 20rem;
}
.nav__logo {
  display: inline-flex;
  margin-left: 2rem;
}
.nav__logo__img {
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  width: 35.96px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  opacity: 0px;
}
.nav__logo__detail {
  width: 0.688rem;
  height: 0.772rem;
}
.nav__logo__name {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.nav__btns {
  display: flex;
  float: right;
  margin-right: 1.5rem;
  align-content: space-between;
  gap: 1rem;
  margin-top: 0.3rem;
}

.menu__close {
  width: 0.975rem;
  height: 0.975rem;
  margin-right: 0.28rem;
}

.nav__logo__img__detail__desktop {
  display: none;
}

.nav__menu__content__desktop {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .black__square {
    width: 100%;
    height: 83px;
    background-color: #222222;
  }
  .center__nav {
    display: flex;
    justify-content: center;
  }
  .nav {
    width: 90%;
    position: absolute;
    top: 2.4rem;
    margin: auto;
    height: 7.5rem;
  }
  .nav__menu__content__desktop {
    display: flex;
    list-style-type: none;
    margin-top: -1.7rem;
    margin-left: -15rem;
    align-items: flex-start;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
  }
  .nav__menu__content__desktop li {
    margin-left: 1.5rem;
  }
  .nav__menu__content__desktop li a {
    font-family: "Archivo";
    font-size: 16px;
    font-weight: 600;
    line-height: 17.41px;
    text-align: left;
    text-decoration: none;
    color: #111111;
  }
  .nav__logo {
    margin-left: 0;
  }
  .nav__btns {
    margin-right: 2rem;
    margin-top: -1.3rem;
  }
  .nav__btns img {
    margin-left: 1rem;
    padding: 0.2rem;
    border: 2px solid rgba(133, 133, 133, 0.3019607843);
  }
  .nav__logo__img__detail__desktop {
    display: block;
  }
  .nav__menu__content {
    display: none;
  }
  .nav {
    margin-top: 1rem;
    height: 4.375rem;
    position: fixed;
    top: 0;
    z-index: 99;
    transition: top 0.5s ease-in-out;
  }
  .hidden {
    top: -10.375rem; /* Hide navbar */
  }
  .drop-down-nav {
    top: 0; /* Show navbar */
  }
  .nav__menu {
    display: none;
  }
  .nav__logo__img__detail {
    display: none;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  background-image: url("../../Resources/Background-footer.png");
  width: 100%;
  margin-top: 5rem;
}
.footer__logos {
  padding-top: 2rem;
}
.footer__logos__img {
  padding: 1rem;
  background-color: #bead8e;
  margin-left: 1.5rem;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
}
.footer__logos__name {
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.footer__text {
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #777777;
  line-height: 26px;
  width: 335px;
  height: 130px;
}
.footer__social__media {
  display: inline-flex;
  gap: 1.7rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
.footer__services {
  padding: 1.5rem;
  width: 100%;
  margin: auto;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.footer__services__options__div {
  margin-bottom: 1.5rem;
}
.footer__services__heading {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footer__services__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.footer__services__column {
  display: grid;
  gap: 2rem;
}
.footer__services__column__2 {
  display: grid;
  margin-bottom: 4rem;
}
.footer__services__item {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: #777777;
  margin: 0;
}
.footer__contact__us {
  margin-top: 2rem;
  padding: 1.5rem;
}
.footer__contact__us__tittle {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: -2rem;
}
.footer__contact__us__phone, .footer__contact__us__email, .footer__contact__us__location {
  display: inline-flex;
  margin-top: 5rem;
  padding: 0;
}
.footer__contact__us__phone__text, .footer__contact__us__email__text, .footer__contact__us__location__text {
  margin-left: 2rem;
}
.footer__contact__us__phone__tittle, .footer__contact__us__email__tittle, .footer__contact__us__location__tittle {
  font-family: "Old Standard TT";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footer__contact__us__phone__body, .footer__contact__us__email__body, .footer__contact__us__location__body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
}

.terms {
  width: 100%;
  height: 94px;
  background-color: #f8f8f8;
  position: absolute;
  left: 0;
}
.terms__copyright {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  color: #222222;
  padding-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.terms__txt {
  display: flex;
  align-items: center;
}
.terms__information {
  margin: 1rem;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  text-decoration: none;
  color: #222222;
}
.terms__conditions {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  text-decoration: none;
  color: #222222;
  margin: 1rem;
}

@media only screen and (min-width: 1000px) {
  .footer {
    display: flex;
    padding: 2rem 7rem;
    margin-top: 5rem;
    align-content: stretch;
  }
  .first__column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .first__column .footer__logos {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .first__column__img {
    padding: 1rem;
    background-color: #bead8e;
    margin-right: 1.5rem;
    box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
  }
  .first__column__name {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
  }
  .footer__text {
    width: 17rem;
    margin-bottom: 2rem;
  }
  .footer__social__media {
    display: flex;
    gap: 1.7rem;
    margin-top: 2rem;
  }
  .footer__services {
    flex: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 9rem;
  }
  .footer__services__item {
    width: 10rem;
  }
  .footer__services__options__div {
    margin-bottom: 0;
  }
  .footer__services__heading {
    font-family: "Old Standard TT";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .footer__services__list {
    display: flex;
    column-gap: 3rem;
    row-gap: 5rem;
  }
  .footer__services__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    column-gap: 3rem;
    row-gap: 1.8rem;
  }
  .footer__contact__us {
    flex: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 16rem;
    margin-top: 1rem;
  }
  .footer__contact__us__tittle {
    margin-bottom: 1rem;
  }
  .footer__contact__us .footer__contact__us__phone,
  .footer__contact__us .footer__contact__us__email,
  .footer__contact__us .footer__contact__us__location {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-items: baseline;
  }
  .footer__contact__us .footer__contact__us__phone img,
  .footer__contact__us .footer__contact__us__email img,
  .footer__contact__us .footer__contact__us__location img {
    margin-right: 1rem;
  }
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__phone__text,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__email__text,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__location__text,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__phone__text,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__email__text,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__location__text,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__phone__text,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__email__text,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__location__text {
    margin-left: 1rem;
  }
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__phone__text .footer__contact__us__phone__tittle,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__phone__text .footer__contact__us__email__tittle,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__phone__text .footer__contact__us__location__tittle,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__email__text .footer__contact__us__phone__tittle,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__email__text .footer__contact__us__email__tittle,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__email__text .footer__contact__us__location__tittle,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__location__text .footer__contact__us__phone__tittle,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__location__text .footer__contact__us__email__tittle,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__location__text .footer__contact__us__location__tittle,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__phone__text .footer__contact__us__phone__tittle,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__phone__text .footer__contact__us__email__tittle,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__phone__text .footer__contact__us__location__tittle,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__email__text .footer__contact__us__phone__tittle,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__email__text .footer__contact__us__email__tittle,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__email__text .footer__contact__us__location__tittle,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__location__text .footer__contact__us__phone__tittle,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__location__text .footer__contact__us__email__tittle,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__location__text .footer__contact__us__location__tittle,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__phone__text .footer__contact__us__phone__tittle,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__phone__text .footer__contact__us__email__tittle,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__phone__text .footer__contact__us__location__tittle,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__email__text .footer__contact__us__phone__tittle,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__email__text .footer__contact__us__email__tittle,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__email__text .footer__contact__us__location__tittle,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__location__text .footer__contact__us__phone__tittle,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__location__text .footer__contact__us__email__tittle,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__location__text .footer__contact__us__location__tittle {
    font-family: "Old Standard TT";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__phone__text .footer__contact__us__phone__body,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__phone__text .footer__contact__us__email__body,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__phone__text .footer__contact__us__location__body,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__email__text .footer__contact__us__phone__body,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__email__text .footer__contact__us__email__body,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__email__text .footer__contact__us__location__body,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__location__text .footer__contact__us__phone__body,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__location__text .footer__contact__us__email__body,
  .footer__contact__us .footer__contact__us__phone .footer__contact__us__location__text .footer__contact__us__location__body,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__phone__text .footer__contact__us__phone__body,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__phone__text .footer__contact__us__email__body,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__phone__text .footer__contact__us__location__body,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__email__text .footer__contact__us__phone__body,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__email__text .footer__contact__us__email__body,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__email__text .footer__contact__us__location__body,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__location__text .footer__contact__us__phone__body,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__location__text .footer__contact__us__email__body,
  .footer__contact__us .footer__contact__us__email .footer__contact__us__location__text .footer__contact__us__location__body,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__phone__text .footer__contact__us__phone__body,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__phone__text .footer__contact__us__email__body,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__phone__text .footer__contact__us__location__body,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__email__text .footer__contact__us__phone__body,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__email__text .footer__contact__us__email__body,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__email__text .footer__contact__us__location__body,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__location__text .footer__contact__us__phone__body,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__location__text .footer__contact__us__email__body,
  .footer__contact__us .footer__contact__us__location .footer__contact__us__location__text .footer__contact__us__location__body {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
  }
  .terms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    width: 100%;
  }
  .terms__copyright {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    color: #222222;
  }
  .terms__txt {
    display: flex;
    align-items: center;
  }
  .terms__txt a {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    color: #222222;
    text-decoration: none;
    margin: 0 1rem;
  }
}
.header {
  background-color: #333333;
  width: 100%;
  height: 16.563rem;
}
.header__text {
  padding-top: 4rem;
  margin-left: 1.3rem;
}
.header__text__small {
  font-family: "Archivo";
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.8px;
  text-align: left;
  color: white;
  width: 15rem;
}
.header__text__big {
  font-family: "Old Standard TT";
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: left;
  color: white;
  margin-top: 1rem;
}
.header__btn {
  width: 156px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  right: 1.5rem;
  bottom: 20.7rem;
}
.header__btn__home {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  text-decoration: none;
  color: #222222;
  margin-right: 0.8rem;
}
.header__btn__about {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  text-decoration: none;
  color: #222222;
  color: #bdac8d;
  margin-left: 0.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

.header__btn {
  top: 17.9rem;
}

.video__intro {
  display: grid;
  justify-items: center;
  margin: auto;
  margin-top: 2rem;
  width: 90%;
  height: 16.875rem;
}
.video__text {
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  line-height: 39.55px;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 32px;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.box .box__first__row,
.box .box__second__row {
  display: flex;
  gap: 1rem;
}
.box .box__first__row .box__1,
.box .box__first__row .box__2,
.box .box__first__row .box__3,
.box .box__first__row .box__4,
.box .box__second__row .box__1,
.box .box__second__row .box__2,
.box .box__second__row .box__3,
.box .box__second__row .box__4 {
  width: 157px;
  height: 158px;
  display: grid;
  place-items: center;
  text-align: center;
}
.box .box__first__row .box__1,
.box .box__first__row .box__3,
.box .box__first__row .box__4,
.box .box__second__row .box__1,
.box .box__second__row .box__3,
.box .box__second__row .box__4 {
  width: 9.813rem;
  height: 9.813rem;
}
.box .box__first__row .box__1 img,
.box .box__first__row .box__3 img,
.box .box__first__row .box__4 img,
.box .box__second__row .box__1 img,
.box .box__second__row .box__3 img,
.box .box__second__row .box__4 img {
  display: block;
  margin: 0 auto;
}
.box .box__first__row .box__1 h1,
.box .box__first__row .box__3 h1,
.box .box__first__row .box__4 h1,
.box .box__second__row .box__1 h1,
.box .box__second__row .box__3 h1,
.box .box__second__row .box__4 h1 {
  margin-top: 0.5rem;
  font-family: "Archivo";
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #777777;
}
.box .box__first__row .box__2,
.box .box__second__row .box__2 {
  width: 9.813rem;
  height: 9.813rem;
  background-color: #bdac8d;
}
.box .box__first__row .box__2 img,
.box .box__second__row .box__2 img {
  display: block;
  margin: 0 auto;
}
.box .box__first__row .box__2 h1,
.box .box__second__row .box__2 h1 {
  margin-top: 0.5rem;
  font-family: "Archivo";
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #777777;
  width: 5rem;
}

.restaurant {
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin: auto;
  width: 90%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1019607843);
}
.restaurant__img {
  width: 295px;
  height: 232px;
}
.restaurant__subtitte {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #777777;
  font-weight: 700;
  margin-left: -13.7rem;
  padding-top: 1.5rem;
}
.restaurant__tittle {
  font-family: "Old Standard TT";
  font-size: 40px;
  font-weight: 400;
  line-height: 49.44px;
  letter-spacing: -1.0499999523px;
  text-align: left;
  margin-top: 1.5rem;
  margin-left: 2.3rem;
}
.restaurant__body {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #777777;
  padding: 2.5rem;
  margin-top: -1rem;
}
.restaurant__btn {
  align-items: center;
  text-align: center;
  display: grid;
  width: 216px;
  height: 60px;
  background: #bdac8d;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-family: Archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.7999999523px;
  color: white;
  margin-top: 2rem;
  margin-left: 1.3rem;
  margin-left: -4.8rem;
  margin-top: -1rem;
}

.core__features {
  background-color: #222222;
  padding-top: 0.8rem;
  padding-bottom: 4rem;
}
.core__features__subtittle {
  font-family: "Archivo";
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.8px;
  text-align: left;
  color: white;
  color: white;
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-top: 3rem;
}
.core__features__tittle {
  font-family: "Old Standard TT";
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: left;
  color: #111111;
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
}

.fun__facts {
  padding-top: 2rem;
}
.fun__facts__subtittle {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #777777;
  font-weight: 700;
  margin-left: 1.5rem;
  padding-top: 1.5rem;
}
.fun__facts__tittle {
  font-family: "Old Standard TT";
  font-size: 40px;
  font-weight: 400;
  line-height: 49.44px;
  letter-spacing: -1.0499999523px;
  text-align: left;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  width: 15rem;
  margin-bottom: 2rem;
}
.fun__facts__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 2rem;
}
.fun__facts__element__1 {
  display: flex;
  align-items: center;
  padding: 2rem;
  width: 100%;
}
.fun__facts__element__1__img {
  width: 65px;
  height: 65px;
  display: block;
}
.fun__facts__element__1__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
}
.fun__facts__element__1__text__number {
  font-family: "Old Standard TT";
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.7999999523px;
  text-align: left;
  color: #222222;
}
.fun__facts__element__1__text__description {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #777777;
  margin-left: 0.4rem;
  margin-left: -3rem;
}
.fun__facts__element__1__arrow {
  width: 50px;
  height: auto;
  margin-left: 3rem;
  display: block;
}
.fun__facts__element__2 {
  display: flex;
  align-items: center;
  padding: 2rem;
  width: 100%;
}
.fun__facts__element__2__img {
  width: 65px;
  height: 65px;
  display: block;
}
.fun__facts__element__2__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
}
.fun__facts__element__2__text__number {
  font-family: "Old Standard TT";
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.7999999523px;
  text-align: left;
  color: #222222;
}
.fun__facts__element__2__text__description {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #777777;
  margin-left: 0.4rem;
  margin-left: 1rem;
}
.fun__facts__element__2__arrow {
  width: 50px;
  height: auto;
  margin-left: 3rem;
  display: block;
}
.fun__facts__element__3 {
  display: flex;
  align-items: center;
  padding: 2rem;
  width: 100%;
}
.fun__facts__element__3__img {
  width: 65px;
  height: 65px;
  display: block;
}
.fun__facts__element__3__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
}
.fun__facts__element__3__text__number {
  font-family: "Old Standard TT";
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.7999999523px;
  text-align: left;
  color: #222222;
  margin-left: 0.5rem;
}
.fun__facts__element__3__text__description {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #777777;
  margin-left: 0.4rem;
  margin-left: 1.2rem;
}
.fun__facts__element__3__arrow {
  width: 50px;
  height: auto;
  margin-left: 4rem;
  display: block;
}/*# sourceMappingURL=about-us.css.map */