// Import the components
@import "./styles/components/Navigation";
@import "./styles/components/Footer";
@import "./styles/components/Header";
// Style constants
@import "./styles/constants/Colors";
@import "./styles/constants/Text";
@import "./styles/constants/Btns";

//Import Sliders

@import "./Sliders/Page-2/second-slider.css";
@import "./Sliders/Page-2/fourth-slider.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}
