// Import the components
@import "./styles/components/Navigation";
@import "./styles/components/Footer";
//Import Sliders
@import "./Sliders/slider.css";
@import "./Sliders/second-slider.css";
@import "./Sliders/third-slider.css";
@import "./Sliders/fourth-slider.css";
// Style constants
@import "./styles/constants/Colors";
@import "./styles/constants/Text";
@import "./styles/constants/Btns";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

// Ultimate Luxury
.header {
  background-color: $ultimate-luxury;
  width: 100%;
  padding-bottom: 6rem;

  &__text {
    padding-top: 5rem;
    margin-left: 1.3rem;
    &__small {
      @include small-letters;
      width: 15rem;
    }
    &__big {
      @include big-letters;
      margin-top: 2.5rem;
    }
  }
  &__btn {
    margin-left: 2rem;
    margin-top: 2.5rem;
    display: grid;
    &__tour {
      @include btn-text;
      @include ultimate-luxury-dirt-btn;

      margin-bottom: 1.5rem;
    }
    &__learn {
      @include btn-text;
      @include ultimate-luxury-transparent-btn;
    }
  }
}

// Calendar
.calendar {
  background-color: $calendar;
  display: grid;
  &__inner {
    margin-left: 2rem;
    margin-top: 2rem;
  }
  &__line {
    width: 91%;
    height: 2px;
    background-color: $ochre-color;
    margin-top: 0.6rem;
  }
  &__input {
    background-color: transparent;
    border: none;
    color: $ochre-color;
    margin-left: 2rem;
    margin-top: 0.9rem;
  }

  &__arrival__txt {
    @include calendar-txt;
  }
  &__departure__txt {
    @include calendar-txt;
    margin-top: 2rem;
  }
  &__btn {
    margin-top: 2rem;
    margin-bottom: 3rem;
    @include btn-check-availability;
    @include btn-text;
  }
}

.calendar__input::-webkit-calendar-picker-indicator {
  color: $ochre-color;
  background-color: $ochre-color;
  position: absolute;

  left: 2rem;
}

// About US
.about__us {
  margin-top: 3rem;
  background-color: $light-grey;
  width: 100%;
  padding-bottom: 11rem;

  &__subtitle {
    @include subtitle-txt;
    margin-left: 1.3rem;
    margin-top: 2rem;
    padding-top: 2rem;
  }
  &__title {
    @include title-txt;
    margin-top: 2rem;
    margin-left: 1.7rem;
  }
  &__text {
    @include main-txt;
    margin-left: 1.3rem;
    margin-top: 2rem;
    width: 90%;
  }
}
.book__now {
  @include book-now;
}

// Strong Team

.strong__team {
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;

  &__room__img {
    width: 270px;
    height: 300px;
    position: relative;
    top: -7rem;
  }
  &__box {
    box-shadow: 0px 8px 16px 0px #22222205;
    width: 270px;
    height: 300px;

    top: -7rem;
    position: relative;
    display: grid;
    justify-content: space-around;
    justify-items: center;

    &__text {
      margin-top: -2.5rem;
      z-index: 2;
      &__title {
        text-align: center;
        @include namimg-text;
        margin-bottom: 2rem;
      }
      &__body {
        text-align: center;
        @include naming-description-text;
        width: 13rem;
      }
    }
  }
  &__frontimg {
    width: 68px;
    height: 49.92px;
    margin-top: 4rem;
    z-index: 1;
  }
  &__backimg {
    width: 144px;
    height: 105.83px;

    position: absolute;
    right: 0rem;
    bottom: 9rem;
  }
}
// Luxury Rooms
.luxury__rooms {
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-top: 3rem;
  margin-bottom: -1rem;

  &__img {
    width: 270px;
    height: 300px;
    position: relative;
    top: -7rem;
  }
  &__box {
    background-color: #222222;
    width: 270px;
    height: 300px;

    top: -7rem;
    position: relative;
    display: grid;
    justify-content: space-around;
    justify-items: center;

    &__text {
      margin-top: -2.5rem;
      z-index: 2;
      &__title {
        text-align: center;
        @include namimg-text;
        margin-bottom: 2rem;
        color: white;
      }
      &__body {
        text-align: center;
        @include naming-description-text;
        width: 13rem;
        color: white;
      }
    }
  }
  &__calendar__img {
    width: 57px;
    height: 50px;
    margin-top: 2rem;
  }
}

// Hand Picked Rooms

.hand__picked__rooms {
  @include center-allign;

  &__subtittle {
    @include main-txt;
    margin-bottom: 2rem;
  }
  &__tittle {
    @include title-txt;
    text-align: center;

    margin-bottom: -1rem;
  }
}

// Intro Video
.intro__video {
  margin-top: 2rem;
  width: 100%;
  background-color: #222222;
  padding-bottom: 2rem;

  &__subtitle {
    @include main-txt;

    color: $light-ochre-color;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.799999952316284px;
    margin-left: 1.3rem;
    padding-top: 4rem;
  }
  &__tittle {
    @include big-letters;
    width: 19rem;
    margin-top: 2rem;
    margin-left: 1.3rem;
  }
  &__body {
    @include main-txt;
    margin-left: 1.3rem;
    width: 21rem;
  }
  &__video {
    display: grid;
    justify-items: center;
    margin: auto;
    margin-top: 2rem;
    width: 90%;
    height: 16.875rem;
  }
  &__btn {
    @include book-now;

    margin-top: 3rem;
  }
}

//Core Features Text
.core__features {
  &__subtittle {
    @include small-letters;
    color: #777777;
    @include center-allign;
    margin-top: 3rem;
  }

  &__tittle {
    @include title-txt;
    @include center-allign;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

// Our Food Menu
.food__menu {
  margin-top: 10rem;
  &__img {
    height: 114.5px;

    right: 0;
    position: absolute;
    margin-bottom: 13rem;
    margin-top: -7rem;
  }
  &__subtittle {
    @include small-letters;
    color: #777777;

    margin-top: 8rem;
    margin-left: 1.8rem;
  }

  &__tittle {
    @include title-txt;

    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 15rem;
    margin-left: 1.5rem;
  }
}
//General Information

.general__info {
  background-color: #222222;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 7rem;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }

  .general__info__1__img,
  .general__info__2__img,
  .general__info__3__img,
  .general__info__4__img {
    width: 78px;
    height: 80px;
    margin-bottom: 1.5rem;
  }

  .general__info__1__tittle,
  .general__info__2__tittle,
  .general__info__3__tittle,
  .general__info__4__tittle {
    font-family: "Roboto";
    font-size: 60px;
    font-weight: 700;
    line-height: 81.84px;
    color: #ffffff;
    position: relative;
  }
  .general__info__1__tittle,
  .general__info__3__tittle {
    span {
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 700;
      line-height: 21.82px;
      position: absolute;
      top: 3rem;
      left: 6.5rem;
    }
  }

  .general__info__2__tittle {
    span {
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 700;
      line-height: 21.82px;
      position: absolute;
      top: 3rem;
      left: 7.6rem;
    }
  }
  .general__info__4__tittle {
    span {
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 700;
      line-height: 21.82px;
      position: absolute;
      top: 3rem;
      left: 9.65rem;
    }
  }

  .general__info__1__body,
  .general__info__2__body,
  .general__info__3__body,
  .general__info__4__body {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    color: #999999;
    margin-top: -0.7rem;
  }
}
