// Import the components
@import "./styles/components/Navigation";

// Style constants

@import "./styles/constants/Colors";
@import "./styles/constants/Text";
@import "./styles/constants/Btns";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

// Ultimate Luxury
.header {
  background-color: $ultimate-luxury;
  width: 100%;
  padding-bottom: 6rem;

  &__text {
    padding-top: 5rem;
    margin-left: 1.3rem;
    &__small {
      @include small-letters;
      width: 15rem;
    }
    &__big {
      @include big-letters;
      margin-top: 2.5rem;
    }
  }
  &__btn {
    margin-left: 2rem;
    margin-top: 2.5rem;
    display: grid;
    &__tour {
      @include btn-text;
      @include ultimate-luxury-dirt-btn;

      margin-bottom: 1.5rem;
    }
    &__learn {
      @include btn-text;
      @include ultimate-luxury-transparent-btn;
    }
  }
}

// Calendar
.calendar {
  background-color: $calendar;
  display: grid;
  &__inner {
    margin-left: 2rem;
    margin-top: 2rem;
  }
  &__line {
    width: 91%;
    height: 2px;
    background-color: $ochre-color;
    margin-top: 0.6rem;
  }
  &__input {
    background-color: transparent;
    border: none;
    color: $ochre-color;
    margin-left: 2rem;
    margin-top: 0.9rem;
  }

  &__arrival__txt {
    @include calendar-txt;
  }
  &__departure__txt {
    @include calendar-txt;
    margin-top: 2rem;
  }
  &__btn {
    margin-top: 2rem;
    margin-bottom: 3rem;
    @include btn-check-availability;
    @include btn-text;
  }
}

.calendar__input::-webkit-calendar-picker-indicator {
  color: $ochre-color;
  background-color: $ochre-color;
  position: absolute;

  left: 2rem;
}

// About US
.about__us {
  margin-top: 3rem;
  background-color: $light-grey;
  width: 100%;
  padding-bottom: 22rem;

  &__subtitle {
    @include subtitle-txt;
    margin-left: 1.3rem;
    margin-top: 2rem;
    padding-top: 2rem;
  }
  &__title {
    @include title-txt;
    margin-top: 2rem;
    margin-left: 1.7rem;
  }
  &__text {
    @include main-txt;
    margin-left: 1.3rem;
    margin-top: 2rem;
    width: 90%;
  }
}
.book__now {
  @include book-now;
}
