@import "./Sliders/Page-4/slider.css";
.nav {
  width: 100%;
  height: 4.375rem;
  padding-top: 1.2rem;
  padding-left: 1.3rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}
.nav__menu {
  display: inline-block;
}
.nav__menu__img {
  width: 1.25rem;
  height: 0.813rem;
  cursor: pointer;
}
.nav__menu__content {
  position: absolute;
  list-style-type: none;
  margin-top: 1.3rem;
  width: 100%;
  height: 13rem;
  background-color: white;
  margin-left: -1.3rem;
  display: none;
}
.nav__menu__content li {
  padding-top: 0.9em;
  padding-bottom: 0.5em;
  margin-left: 1.3rem;
}
.nav__menu__content li a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Archivo;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.41px;
  width: 20rem;
}
.nav__logo {
  display: inline-flex;
  margin-left: 2rem;
}
.nav__logo__img {
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  width: 35.96px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  opacity: 0px;
}
.nav__logo__detail {
  width: 0.688rem;
  height: 0.772rem;
}
.nav__logo__name {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.nav__btns {
  display: flex;
  float: right;
  margin-right: 1.5rem;
  align-content: space-between;
  gap: 1rem;
  margin-top: 0.3rem;
}

.menu__close {
  width: 0.975rem;
  height: 0.975rem;
  margin-right: 0.28rem;
}

.footer {
  background-image: url("../../Resources/Background-footer.png");
  width: 100%;
  height: 75rem;
  margin-top: 5rem;
}
.footer__logos {
  padding-top: 2rem;
}
.footer__logos__img {
  padding: 1rem;
  background-color: #bead8e;
  margin-left: 1.5rem;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
}
.footer__logos__name {
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.footer__text {
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #777777;
  line-height: 26px;
  width: 335px;
  height: 130px;
}
.footer__social__media {
  display: inline-flex;
  gap: 1.7rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
.footer__services {
  padding: 1.5rem;
  width: 100%;
  margin: auto;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.footer__services__options__div {
  margin-bottom: 1.5rem;
}
.footer__services__heading {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footer__services__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.footer__services__column {
  display: grid;
  gap: 2rem;
}
.footer__services__column__2 {
  display: grid;
  margin-bottom: 4rem;
}
.footer__services__item {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: #777777;
  margin: 0;
}
.footer__contact__us {
  margin-top: 2rem;
  padding: 1.5rem;
}
.footer__contact__us__tittle {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: -2rem;
}
.footer__contact__us__phone, .footer__contact__us__email, .footer__contact__us__location {
  display: inline-flex;
  margin-top: 5rem;
  padding: 0;
}
.footer__contact__us__phone__text, .footer__contact__us__email__text, .footer__contact__us__location__text {
  margin-left: 2rem;
}
.footer__contact__us__phone__tittle, .footer__contact__us__email__tittle, .footer__contact__us__location__tittle {
  font-family: "Old Standard TT";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footer__contact__us__phone__body, .footer__contact__us__email__body, .footer__contact__us__location__body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
}

.terms {
  width: 100%;
  height: 94px;
  background-color: #f8f8f8;
}
.terms__copyright {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  color: #222222;
  padding-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.terms__txt {
  display: flex;
  align-items: center;
}
.terms__information {
  margin: 1rem;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  text-decoration: none;
  color: #222222;
}
.terms__conditions {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  text-decoration: none;
  color: #222222;
  margin: 1rem;
}

.header {
  background-color: #333333;
  width: 100%;
  height: 16.563rem;
}
.header__text {
  padding-top: 4rem;
  margin-left: 1.3rem;
}
.header__text__small {
  font-family: "Archivo";
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.8px;
  text-align: left;
  color: white;
  width: 15rem;
}
.header__text__big {
  font-family: "Old Standard TT";
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: left;
  color: white;
  margin-top: 1rem;
}
.header__btn {
  width: 156px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: relative;
  right: -12.5rem;
  bottom: -3.7rem;
}
.header__btn__home {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  text-decoration: none;
  color: #222222;
  margin-right: 0.8rem;
}
.header__btn__about {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  text-decoration: none;
  color: #222222;
  color: #bdac8d;
  margin-left: 0.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

.header__btn {
  width: 207px;
  right: -11.5rem;
}

.luxury__double__bed {
  padding: 1rem;
}
.luxury__double__bed__subtittle {
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #777777;
  color: #777777;
}
.luxury__double__bed__tittle {
  margin-bottom: 1.5rem;
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  font-size: 40px;
  color: #777777;
  width: 21rem;
  line-height: 48px;
  text-align: left;
}
.luxury__double__bed__price {
  font-family: "Archivo";
  font-size: 30px;
  font-weight: 700;
  line-height: 32.64px;
  color: #bead8e;
  text-align: left;
  margin-bottom: 1.5rem;
}
.luxury__double__bed__price__small {
  font-family: "Archivo";
  font-size: 12px;
  font-weight: 700;
  line-height: 13.06px;
  text-align: right;
}
.luxury__double__bed__img {
  width: 100%;
  height: 214px;
  display: block;
  margin: auto;
  object-fit: cover;
}

.calendar {
  display: grid;
  padding: 1rem;
}
.calendar__inner {
  margin-top: 2rem;
}
.calendar__line {
  width: 91%;
  height: 2px;
  background-color: #bead8e;
  margin-top: 0.6rem;
}
.calendar__input {
  background-color: #f8f8f8;
  border: none;
  color: #777777;
  display: block;
  margin: auto;
  margin-top: 0.9rem;
  width: 290px;
  height: 60px;
}
.calendar__arrival__txt {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;
  color: white;
  color: #222222;
  margin-left: 3rem;
}
.calendar__departure__txt {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;
  color: white;
  margin-top: 2rem;
  color: #222222;
  margin-left: 3rem;
}
.calendar__btn {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 250px;
  height: 60px;
  background-color: #bead8e;
  font-family: Archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  color: white;
  align-items: center;
  text-align: center;
  display: grid;
}

.calendar__input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 19.5rem;
}

.calendar__input::-webkit-datetime-edit {
  margin-left: 2rem;
}

.about__room {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 2rem;
  width: 25rem;
  color: #777777;
}

.features {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
.features__line {
  background: #f1f1f1;
  width: 100%;
  height: 1px;
  margin-bottom: 3rem;
}
.features h1 {
  font-family: " Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 0.6rem;
}
.features .features-grid {
  display: grid;
  grid-template-columns: repeat(2, 7fr);
  column-gap: 1.5rem;
  row-gap: 0.8rem;
}
.features .features-grid .feature {
  display: grid;
  grid-template-columns: 1.8rem auto;
}
.features .features-grid .feature img {
  width: 1rem;
}
.features .features-grid .feature p {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 17.58px;
  text-align: left;
  color: #777777;
}

.founder__image__person {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  display: block;
  margin-top: 6rem;
}
.founder__image__check {
  padding: 1rem;
  background-color: #222222;
  border-radius: 50%;
  position: relative;
  top: -9.5rem;
  right: -14.9rem;
  border: 5px solid white;
}

.founder__text {
  padding: 2rem;
  margin-top: -3rem;
}
.founder__text__name {
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  text-align: center;
  margin-bottom: 1rem;
}
.founder__text__position {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #777777;
  text-align: center;
  color: #bdac8d;
  margin-bottom: 1rem;
}
.founder__text__description {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #777777;
  font-size: 16px;
  text-align: center;
  width: 21rem;
}

.cancellation {
  padding: 1.5rem;
}
.cancellation__tittle {
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  text-align: left;
}
.cancellation__line {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
}
.cancellation__text {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
  text-align: left;
  color: #777777;
  width: 21rem;
}

.swiper__information {
  padding: 1.5rem;
}
.swiper__information__tittle {
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
}
.swiper__information__line {
  background: #f1f1f1;
  width: 100%;
  height: 1px;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
}/*# sourceMappingURL=ultimate-room.css.map */