.Swiper2 {
  width: 100%;
  height: 23.125rem;
  background-color: #292929;

  padding-bottom: 2rem;
}
.swiper {
  width: 90%;
  margin: 0 auto;
}

.Swiper2 .swiper-pagination {
  background-color: #222222;
  position: absolute;
  bottom: 0rem !important;
}

.Swiper2 .swiper-pagination-bullet {
  background: #ededed;
  transition: background 0.3s ease;
}

.Swiper2 .swiper-pagination-bullet-active {
  background: #bdac8d;
}

.Swiper2 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.Swiper2 .swiper-slide-number {
  font-family: "Archivo";
  font-size: 120px;
  font-weight: 700;
  position: absolute;
  right: 1rem;
  top: 0rem;
  color: 222222;
}

.Swiper2 .swiper-slide-logo {
  width: 4.375rem;
  height: 4.375rem;
  position: relative;
  object-fit: contain;
  left: 4.4rem;
  top: -4rem;
}

.Swiper2 .swiper-slide-logos {
  width: 100%;
  margin-top: 1rem;
}

.Swiper2 .swiper-slide-main-txt {
  display: block;
  margin-top: 9rem;
  margin-right: 2rem;
}

.Swiper2 .swiper-slide-title {
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  width: 20rem;
  text-align: left;
  margin-bottom: 1.7rem;
}

.Swiper2 .swiper-slide-body {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #777777;
  width: 15.625rem;
}

@media only screen and (min-width: 1000px) {
  .Swiper2 .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    max-width: 70rem;
    margin: auto;
  }

  .Swiper2 .swiper-slide {
    width: 320px;
    margin: 10px;

    background: #292929;
    color: #222222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    height: 320px;
  }

  .Swiper2 {
    width: 100%;
    height: 49.125rem;
    background-color: transparent;
    position: relative;
    padding-bottom: 2rem;
  }
  .swiper-slide .swiper-slide-next {
    width: 370px;
    height: 370px;
  }
  .Swiper2 .swiper-pagination {
    display: none;
  }

  .Swiper2 .swiper-slide-title {
    color: white;
  }
}
