.header {
  width: 100%;
  height: 4.375rem;

  padding-top: 1.2rem;
  padding-left: 1.3rem;
  box-shadow: 0px 3px 6px 0px #0000004a;
  position: relative;

  &__menu {
    display: inline-block;
    position: relative;
  }
  &__menu__img {
    width: 1.25rem;
    height: 0.813rem;
    cursor: pointer;
  }
  &__menu__content {
    display: none;
    position: absolute;
    list-style-type: none;
    margin-top: 2rem;
    width: 100%;
    height: 12.363rem;

    li {
      padding-top: 0.9em;
      padding-bottom: 0.5em;

      a {
        cursor: pointer;
        display: block;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-family: Archivo;
        font-size: 16px;
        font-weight: 600;
        line-height: 17.41px;
        width: 20rem;
      }
    }
  }

  &__logo {
    display: inline-flex;
    margin-left: 2rem;

    &__img {
      box-shadow: 0px 14px 24px 0px #8b8b8b40;
      width: 35.96px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0px;
      opacity: 0px;
    }
    &__detail {
      width: 0.688rem;
      height: 0.772rem;
    }

    &__name {
      margin-left: 1rem;
      margin-top: 0.5rem;
    }
  }

  &__btns {
    display: flex;
    float: right;
    margin-right: 1.5rem;
    align-content: space-between;
    gap: 1rem;
    margin-top: 0.3rem;
  }
}
.menu__close {
  width: 0.975rem;
  height: 0.975rem;
}
