.first-slider {
  width: 100%;
  height: 32rem;
}

.first-slider .swiper-button-prev,
.first-slider .swiper-button-next {
  color: black;
  width: 50px;
  height: 50px;
  transform: scale(0.3);
}

.first-slider .swiper-button-prev::after,
.first-slider .swiper-button-next::after {
  color: black;
  padding: 1rem;
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.first-slider .swiper-button-prev::after {
  left: -1.2rem;
  top: -10rem;
  background-color: aliceblue;
}

.first-slider .swiper-button-next::after {
  right: -1.6rem;
  top: -10rem;
  background-color: #bdac8d;
}

.first-slider .swiper-slide-img {
  width: 20.938rem;
  height: 244px;
  object-fit: cover;
  margin: auto;
  display: block;
}

.first-slider .swiper-slide-rules {
  width: 256px;
  height: 66px;
  position: relative;
  top: 16.7rem;
  display: inline-block;
  z-index: 3;
  display: block;
  margin: auto;
}

.first-slider .swiper-slide-text {
  width: 90%;
  height: 13rem;
  padding-bottom: 2rem;
  display: block;
  margin: auto;
  background: white;
  position: relative;
  top: 0;
}

.first-slider .swiper-slide-text-title {
  padding-top: 1rem;
  font-family: "Old Standard TT";
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.first-slider .swiper-slide-text-body {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 20rem;
  margin: auto;
  margin-top: 1rem;
}

.first-slider .swiper-slide-text-price {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  text-align: right;
  margin: auto;
  color: #bdac8d;
  margin-top: 1rem;
}

.first-slider .swiper-slide-text-book-now {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  text-align: right;
  color: #bdbdbd;
  margin-left: 2rem;
  margin-right: 4rem;
  text-align: center;
}
